[Unit]
Description=Noti

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=%h/.cargo/bin/noti run
Restart=on-failure

[Install]
WantedBy=multi-user.target
