@import "vars";

.powermenu {
  background-color: rgba($background, .5);
  border-radius: 10px;
  padding: 20px;

  .container {
    border: $border purple;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
