.bar {
  background-color: rgba($background, 0.2);

  color: $text;
  padding: 0px 20px;

  /* .left { */
  /*   background: red; */
  /* } */
  /**/
  /* .center { */
  /*   background: green; */
  /* } */
  /**/
  /* .right { */
  /*   background: blue; */
  /* } */
}
