@define-color primary #99AEB3;
@define-color background #151C22;
/* @define-color background #1B2329; */

* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: 700;
  font-size: 16px;
  /* background-color: #0B161C; */
  background: transparent;
  border-radius: 10px;
  /* Reduced opacity background */
}

.modules-center {
  border-radius: 0px 0px 10px 10px;
  background: transparent;
  opacity: 0;
}

.modules-right {
  border-radius: 0px 0px 0px 80px;
}


.modules-left {
  border-radius: 0px 0px 80px 0px;
  padding-right: 15px;
}

/* .modules-center, */
.modules-right,
.modules-left {
  background: @background;
  min-width: 200px;
  padding: 4px 0px 9px 0px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#custom-window-name {
  color: @primary;
  background: transparent;
  min-width: 400px;
}

#language {
  padding-left: 25px;
  color: @primary;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
}

#workspaces {
  padding-left: 25px;
  padding-right: 35px;
}


#workspaces button label {
  color: @primary;
  margin: 0px 8px;
  background-color: #1a1c2b;
  background: transparent;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  padding: 0;
  border-radius: 0;
}

#workspaces button:hover {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  color: @primary;
  animation: none;
  transition: all 1000s ease;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  border-radius: 0;
}

#workspaces button:hover label {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  color: @primary;
  margin: 0px 8px;
  animation: none;
  transition: all 1000s ease;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  border-radius: 0;
}

#battery {
  color: @primary;
  margin: 0px 30px 0px 0px;
}

#pulseaudio {
  font-size: 15px;
  background: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
  color: @primary;
  background: transparent;
  margin-right: 10px;
}

#network {
  color: @primary;
  margin-right: 10px;
  background-color: transparent;
}

#custom-dot {
  color: @primary;
  padding-right: 10px;
  background-color: transparent;
}

#custom-dot-alt {
  color: #a5adcb;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  /* color: #5E8C8F; */
  color: @primary;
  padding-left: 20px;
  padding-right: 35px;
  font-weight: 600;
  font-size: 16px;
}
