@define-color primary #99AEB3; /* #99AEB3 */
@define-color background #1E1E2E; /* #1E1E2E */

* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: 600;
  font-size: 14px;
  transition: none;
	box-shadow: none;
	text-shadow: none;
	transition: none;
  border: none;
  outline: none;
}

window#waybar {
  background: @background;
}

#tray menu,
tooltip {
  background: @background;
  color: @primary;
  padding: 15px;
}

tooltip label {
  color: @primary;
}

.modules-center,
.modules-right,
.modules-left {
  background: transparent;
  color: @primary;
  padding: 2px 15px 3px 15px;
}

#workspaces {
  transition: all 300ms ease;
  /* margin-left: 15px; */
}

#workspaces button {
  background: transparent;
  color: alpha(@primary, 0.5);
  transition: all 100ms ease, color 0s;
  letter-spacing: -7px;
}

#workspaces button.active {
  color: @primary;
  letter-spacing: -7px;
  transition: color 300ms ease;
  margin: 0px 4px;
}

#workspaces button:hover {
  color: shade(alpha(@primary, 0.8), 1.1);
}

#workspaces button.active:hover {
  color: shade(@primary, 1.5);
}

#tray {
  margin-right: 10px;
}

#info {
  background: @background;
  border-radius: 10px 0px 0px 10px;
  margin-right: 10px;
}

#clock,
#language,
#network,
#battery {
  color: @primary;
  font-size: 14px;
  margin-right: 1px;
}

#language {
  margin-right: 7px;
}

#network {
  margin-right: 5px;
}

#clock {
  /* margin-right: 15px; */
}

#workspaces button.urgent,
#network.disabled,
#network.disconnected,
#battery.warning:not(.charging) {
    color: @primary;
    animation-name: warning;
    animation-duration: .5s;
    animation-timing-function: steps(15);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: @primary;
    animation-name: critical;
    animation-duration: .5s;
    animation-timing-function: steps(15);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* Keyframes */
@keyframes warning {
    to {
        color: #EBA0AC;
    }
}

@keyframes critical {
    to {
        color: #f53c3c;
    }
}

@keyframes blink {
  0% {
    color: @primary;
  }

  50% {
    color: #e1e4e8;
  }
}

