@import "./colors.css";

* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: 400;
  font-size: 12px;
  /* background-color: #0B161C; */
  background: transparent;
  /* Reduced opacity background */
}

.modules-center {
  /* border-radius: 0px 0px 10px 10px; */
  /* opacity: 0; */
  border-radius: 0;
  opacity: 1;
  min-width: 0;
}

.modules-center,
.modules-right,
.modules-left {
  background: @background-dark;
  min-width: 200px;
  padding-bottom: 1px;
  color: @primary-dark;
}

window#waybar {
  background: @background-dark;
}

#custom-window-name {
  color: @primary-dark;
  margin: 0px 50px;
  min-width: 0;
}

#custom-toggletheme {
  color: @primary-dark;
  margin-right: 10px;
}

#backlight {
  color: @primary-dark;
  margin-right: 15px;
  font-size: 16px;
}

#language {
  /* padding-left: 25px; */
  color: @primary-dark;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  border-radius: 0px;
  margin-right: 15px;
}

#workspaces {
  /* padding-right: 35px; */
  padding-left: 15px;
}

#workspaces button label {
  color: @primary-dark;
  margin: 0px 8px;
  background-color: #1a1c2b;
  background: transparent;
  font-size: 14px;
  font-weight: 100;
  font-style: normal;
  padding: 0;
  border-radius: 0;
}

#workspaces button:hover {
  transition: all 1000s ease;
}

#workspaces button:hover label {
  transition: all 1000s ease;
}

#battery {
  color: @primary-dark;
  margin-right: 25px;
}

#pulseaudio {
  font-size: 15px;
  background: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
  color: @primary-dark;
  background: transparent;
  margin-right: 10px;
}

#network {
  color: @primary-dark;
  margin-right: 15px;
}

#custom-dot {
  color: @primary-dark;
  padding-right: 10px;
  background-color: transparent;
}

#custom-dot-alt {
  color: #a5adcb;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  /* color: #5E8C8F; */
  color: @primary-dark;
  padding-right: 25px;
  font-weight: 600;
  font-size: 16px;
}
