@define-color primary-dark #99AEB3;
@define-color background-dark #1E1E2E; 
@define-color background-dark-alt rgba(21, 28, 34, 0.9);
@define-color primary-light #151C22;
@define-color background-light #DCDCDC;
@define-color background-light-alt rgba(220, 220, 220, 0.9);

* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: 600;
  font-size: 16px;
}

window#waybar {
  background: @background-dark;
}

#tray menu,
tooltip {
  background: @background-dark;
  color: @primary-dark;
  padding: 15px;
}

tooltip label {
  color: @primary-dark;
}

.modules-center,
.modules-right,
.modules-left {
  background: transparent;
  color: @primary-dark;
  padding-bottom: 2px;
  padding-top: 1px;
}

#workspaces {
  margin-left: 15px;
  font-weight: 600;
}

#workspaces button {
  margin: 0px 5px;
  padding: 0px;
  background: transparent; 
  color: @primary-dark;
}

#workspaces button.active {
  margin-right: 8px;
  padding: 0px;
}

#workspaces button:hover {
  transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	transition: none;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: inherit;
  padding: 1px;
}

#language,
#network,
#clock,
#tray,
#custom-power,
#battery {
  color: @primary-dark;
  margin-right: 15px;
}

#clock {
  margin: 0px;
}

#network {
  margin-right: 10px;
}

#custom-power {
  margin-right: 30px;
}

#workspaces button.urgent,
#network.disabled,
#network.disconnected,
#battery.warning:not(.charging) {
    color: @primary-dark;
    animation-name: blink;
    animation-duration: 0.4s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* Keyframes */
@keyframes blink {
    to {
        /* color: #f53c3c; */
        color: #EBA0AC;
    }
}
