@import "vars";

.dock {
  border-radius: 5px;
  color: $text;
  padding: 0px 500px;

  .image {
    padding: 5px 10px;
    transition: $tr;

    &.active {
      background: rgba($background, 0.1);
    }

  }

  .eventbox:hover {
    .image {
      background: rgba($background, 0.2);
    }
  }
}
