@import "vars";

.tile {
  padding: 10px 5px;
  background: rgba($background, .8);
  border-radius: 5px;

  border: $border red;
}

.picker {
  padding: 5px 10px;
  border-radius: 2px;
  color: #1e1e2e;

  border: $border green;
}
