@import "vars";

.eventbox {
  .workspaces {
    /* background: rgba($alt, 1); // dark .1 */
    padding: 0px 10px;
    border-radius: 5px;
    transition: $tr;


    button {
      .image {

        &.active {}
      }
    }
  }

  &:hover {
    .workspaces {
      background: shade($alt, 1.3); // dark .15
    }
  }
}
